{% extends 'trip/_base.html' %}

{% block content %}
    <h1 class="text-4xl underline underline-offset-4 mb-8">Trip Details</h1>
    <div class="bg-gray-50 p-8 rounded shadow my-4">
        <p class="text-2xl">{{ trip.country }} | {{ trip.city }}</p>
        <hr class="my-4">
        <div class="flex gap-2 flex-wrap">
            {% for note in notes %}
                <a href="{% url 'note-detail' note.pk %}">
                    <div class="border-2 rounded-lg pb-4 hover:shadow">
                        <img class="w-48 h-32 object-cover overflow-hidden rounded-t-md" src="{{ note.img.url }}"
                             alt="{{ note.name }}">
                        <p class="text-center mt-4 text-lg">{{ note.name }}</p>
                        <p class="text-center mt-2 text-gray-600">Rating: {{ note.rating }}/5</p>
                    </div>
                </a>
            {% endfor %}
            <div class="border-2 border-dashed rounded-lg hover:shadow w-48 h-48 flex justify-center items-center">
                <p class="min-h-32">New Note +</p>
            </div>
        </div>
    </div>
{% endblock content %}
